<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/kov_rectangle"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.DDMA_transferObject"
        tools:targetApi="31">

        <!-- Главная активность -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SettingsActivity"
            android:label="Settings"
            android:exported="false"
            android:theme="@style/Theme.DDMA_transferObject"/>  <!-- exported="false", если не требуется доступ извне -->

        <activity
            android:name=".FrameActivity"
            android:label="FrameActivity"
            />

        <activity
            android:name=".LinearActivity"
            android:label="LinearActivity"
            />

        <activity
            android:name=".RelativeActivity"
            android:label="LinearActivity"
            />


    </application>
</manifest>